/* === Allgemein ===*/

/* Schriften */
body {
	position: relative;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
.font-alt {
	
}


body,
p {
	font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-alt {
	font-family: 'Acme', serif;
}

.fa {
	margin-right: 5px;
}

/* Section */

section {
	padding: 140px 0;
}

/* Hilfsklassen */
.d-relative {
	position: relative;
}


/* === Navigation ===*/

/* === Home Background ===*/

.home-bg {
	background: url('../img/home_back.png') 50% 0 fixed no-repeat;
	height: 100vh;
	background-size: cover;
}

.centered-row {
  margin-top: 30%
  
	
}

/* === Skills ===*/
.cr-blue {
	color: rgb(72, 119, 226);
}

/* Card Text */

.card-title,
.card-text {
	color: white;
}

.card-title .fa {
	margin-right: 10px;
}

/* === Kontakt ===*/

.kontakt-bg {
 	background-color: rgb(72, 119, 226);
}
